@charset "UTF-8";
/* radio
  =========================================================================== */

// disabled
%radio-disabled {
  color: lighten($radioTextColor, 30%);

  cursor: not-allowed;
}
%radio-disabled-icon {
  border-color: lighten($radioBorderColor, 10%);
  background-color: lighten($radioBorderColor, 30%);
}

// radio basic style
%radio {
  @include inline-block;
  position: relative;
  margin-bottom: 0;

  vertical-align: middle;
  min-height: parseInt($radioSize) * 1px + 2px;
  line-height: 30px;
  color: $radioTextColor;
  font-size: inherit;

  padding-left: parseInt($radioSize) * 1px + 2px;
  font-weight: 400;

  cursor: pointer;

  & > input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;

    @include opacity(0);
  }
}

.#{$nameSpace}radio {
  @extend %radio;

  &:hover {
    .#{$nameSpace}radio__inner {
      border-color: $radioCheckedColor;
    }
  }

  &.#{$nameSpace}radio--disabled {
    @extend %radio-disabled;

    &:hover {
      .#{$nameSpace}radio__inner {
        @extend %radio-disabled-icon;
      }
    }

    .#{$nameSpace}radio__inner {
      @extend %radio-disabled-icon;
    }
  }

}

// radio inner
%radio-inner {
  @include transition(all $radioTransitionTime cubic-bezier(.645,.045,.355,1));

  @include inline-block;

  position: absolute;
  top: 50%;
  left: 0;

  margin-top: -.5em;

  width: parseInt($radioSize) * 1px;
  height: parseInt($radioSize) * 1px;

  border-radius: parseInt($radioBRPX) * 1px;
  border: 1px solid $radioBorderColor;
}

.#{$nameSpace}radio__inner {
  @extend %radio-inner;
}

// radio text
%radio-text {
  padding-right: parseInt($radioTextPadding) * 1px;
  padding-left: parseInt($radioTextPadding) * 1px;
}

.#{$nameSpace}radio__text {
  @extend %radio-text;
}

// radio checked
%radio-chechked {
  color: $radioCheckedColor;
}

%radio-chechked-icon {

  $radioIconSize: parseInt($radioSize) - 2 * parseInt($radioIconMargin);

  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -1px * parseInt($radioIconMargin) + - 1px;
  margin-left: -1px * parseInt($radioIconMargin) + -1px;

  width: $radioIconSize * 1px;
  height: $radioIconSize * 1px;

  border-radius: $radioIconSize / 2 * 1px;
  background-color: $radioCheckedColor;
}

.#{$nameSpace}radio--checked {
  @extend %radio-chechked;

  .#{$nameSpace}radio__inner {
    border-color: $radioCheckedColor;

    &::after {
      content: "";
      @extend %radio-chechked-icon;
    }
  }

  // disabled
  &.#{$nameSpace}radio--disabled {
    @extend %radio-disabled;
    &:hover {
      .#{$nameSpace}radio__inner {
        @extend %radio-disabled-icon;
      }
    }
    .#{$nameSpace}radio__inner {
      @extend %radio-disabled-icon;
      &::after {
        background-color: lighten($radioBorderColor, 10%);
      }
    }
  }

}



// radio group
%radio-group {
  display: block;
  font-style: 12px;
}

.#{$nameSpace}radio__group {
  @extend %radio-group;
}

// radio to block
%radio-block {
  display: block;
}

.#{$nameSpace}radio--block {
  @extend %radio-block;
}

// radio color
@each $key,$val in $radioColors {
  .#{$nameSpace}radio--#{$key} {

    &:hover {
      .#{$nameSpace}radio__inner {
        border-color: $val;
      }
    }

    // checked
    &.#{$nameSpace}radio--checked {
      color: $val;

      .#{$nameSpace}radio__inner {
        border-color: $val;

        &::after {
          background-color: $val;
        }
      }

      // disabled
      &.#{$nameSpace}radio--disabled {
        @extend %radio-disabled;

        &:hover {
          .#{$nameSpace}radio__inner {
            @extend %radio-disabled-icon;
          }
        }

        .#{$nameSpace}radio__inner {
          @extend %radio-disabled-icon;
          &::after {
            background-color:lighten($radioBorderColor, 10%);
          }
        }
      }

    }

    // disabled
    &.#{$nameSpace}radio--disabled {
      @extend %radio-disabled;

      &:hover {
        .#{$nameSpace}radio__inner {
          @extend %radio-disabled-icon;
        }
      }

      .#{$nameSpace}radio__inner {
        @extend %radio-disabled-icon;
      }
    }

  }
}

