@charset "UTF-8";
//
// background gradient
// -----------------------------------------------------------------------------
//

// ##
// 背景色渐变
//-----------------------------------------------------
//
// 水平渐变，从左往右
// @include gradient-hor(#333, #ccc);
@mixin gradient-hor($gradient...){
  background-image: -webkit-linear-gradient(left, $gradient);
  background-image: -o-linear-gradient(left, $gradient);
  background-image: linear-gradient(to right, $gradient);
}
// 水平渐变，从左往右，平铺
// @include gradient-horizontal-repeating(#333 5%, #ccc 10%);
@mixin gradient-hor-repeating($gradient...){
  background-image: -webkit-repeating-linear-gradient(left, $gradient);
  background-image: -o-repeating-linear-gradient(left, $gradient);
  background-image: repeating-linear-gradient(to right, $gradient);
}
// 垂直渐变，从上往下
// @include gradient-vertical(#333 30%, #ccc);
@mixin gradient-ver($gradient...) {
  background-image: -webkit-linear-gradient(top, $gradient);
  background-image: -o-linear-gradient(top, $gradient);
  background-image: linear-gradient(to bottom, $gradient);
}
// 垂直渐变，从上往下，平铺
// @include gradient-vertical-repeating(#333 30%, #ccc 50%);
@mixin gradient-ver-repeating($gradient...) {
  background-image: -webkit-repeating-linear-gradient(top, $gradient);
  background-image: -o-repeating-linear-gradient(top, $gradient);
  background-image: repeating-linear-gradient(to bottom, $gradient);
}
// 角度渐变
// @include gradient-angle(45deg, #333 30%, #ccc);
@mixin gradient-angle($gradient...) {
  background-image: -webkit-linear-gradient($gradient);
  background-image: -o-linear-gradient($gradient);
  background-image: linear-gradient($gradient);
}
// 角度渐变
// @include gradient-angle(45deg, #333 30%, #ccc 50%);
@mixin gradient-angle-repeating($gradient...) {
  background-image: -webkit-repeating-linear-gradient($gradient);
  background-image: -o-repeating-linear-gradient($gradient);
  background-image: repeating-linear-gradient($gradient);
}
// 径向渐变，可以写点简单的
// 如：@include gradient-radial(#00F,#FFF);
// 而@include gradient-radial(farthest-side circle at right,#00F,#FFF)
// 这种的将不会兼容，所以不要调用这个，可以去找工具生成
@mixin gradient-radial($gradient...){
  background-image: -webkit-radial-gradient($gradient);
  background-image: -o-radial-gradient($gradient);
  background-image: radial-gradient($gradient);
  background-repeat: no-repeat;
}